<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="QueryReportsConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=QueryReports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EasyReportingToolConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EasyReportingTool;Persist Security Info=True;User ID=ertuser;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
